<tr>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><%= question.id %></td>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-700"><%= question.question_text %></td>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-700"><%= format_date question.created_at %></td>
  <td><%= button_to "Destroy",  question, method: :delete %></td>
  <td><%= link_to "Edit",  edit_question_path(question), method: :edit %></td>

</tr>
<%= render partial:'answer_row', collection: question.answers, as: :answer %>
