<div id="<%= dom_id quiz %>">
  <p>
    <strong>Title:</strong>
    <%= quiz.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quiz.description %>
  </p>

  <h3>Questions</h3>
  <%= link_to "Add Question", new_quiz_question_path(quiz) %>

  <table id="questions" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
  <thead class="text-left">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">ID</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Jautajums</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Izveidots</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <%= render partial:'question_row', collection: @quiz.questions, as: :question %>
  </tbody>
  </table>

</div>
